# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'elm-format current buffer': 'elm:format'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'elm-format'
      'submenu': [
        { 'label': 'elm-format', 'command': 'elm:format' }
      ]
    ]
  }
]
